Inventory.Api.Test/bin/
Inventory.Api.Test/obj/
Inventory.Api.Test/TestResults/
Inventory.Api/bin/
Inventory.Api/obj/
Inventory.Application/bin/
Inventory.Application/obj/
Inventory.Application/obj/
Inventory.Domain.Test/bin/
Inventory.Domain.Test/obj/
Inventory.Domain.Test/TestResults/
Inventory.Infrastructure/obj/
Inventory.Infrastructure/bin/
Inventory.Domain/obj/
Inventory.Domain/bin/
.vs/
Inventory.Api/Logs/
Inventory.Domain.Test/coverage.json
